body {
  background: #ffffff;
  color: #0c0c0c;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#img-container {
  position: absolute;
  width: 1280px;
  height: 720px;
  margin-left: -640px;
  margin-top: -360px;
  left: 50%;
  top: 50%;
  overflow: hidden;
}

.koryimage {
  position: absolute;
}

#koryimage1 {
  left: 0px;
}
#koryimage2 {
  left: 51200px;
}
#koryimage3 {
  left: 102400px;
}
#koryimage4 {
  left: 153600px;
}